/* Top and Bottom Navigation */

body {
    height: 100vh;
}

.top_left, .top_right, .bottom_left, .bottom_right {
    display: inline-block;
    padding: 10px;
}

.top_right, .bottom_right {
    float: right;
}

.top_left div, .top_right div, .bottom_left div, .bottom_right div {
    display: inline-block;
    padding: 5px;
}

footer {
    position: absolute;
    background-color: rgba(212, 208, 208, .5);
    bottom: 5px;
    right: 0;
    left: 0;
}

/* Logo Placement */

header {
    margin-top: 20vh;
    text-align: center;
}

/* Search Box and Buttons */

#search_container, #button_box {
    display: flex;
    justify-content: center;
}

#search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0px;
    height: 2.75rem;
    width: 30rem;
    border: .75px solid rgb(179, 162, 162);
    border-radius: 10px;
    box-shadow: 0px 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#search_container img, #search_container input {
    display: inline-block;
}

input {
    width: 80%;
    height: 85%;
    border: 0px solid;
}

input:active {
    border: 0px solid;
}

#search_container img {
    height: 60%;
}

#button_box{
    height: 2rem;
}

#g_search {
    margin-right: 2.5px;
    border-radius: 3px;
    font-size: .75rem;
}

#l_search {
    margin-left: 2.5px;
    border-radius: 3px;
    font-size: .75rem;
}

/* Google Promo Link */

#google_promo {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
}